# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build directories
dist/
build/

# Temporary files
temp/
tmp/

# Coverage
coverage/

# IDE and editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Operating system files
.DS_Store
Thumbs.db

# Yarn
yarn-error.log
yarn-debug.log

# Miscellaneous
package-lock.json
